@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

h1 {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/back.png) no-repeat center center fixed;
  background-size: 100% 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 400px;
  height: 200px;
  background-color: rgb(249, 211, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 4px 4px 1px 2px rgba(0, 0, 0, 0.9);
}

.title {
  font-family: "Press Start 2P", system-ui;
}

.instructions {
    font-family: "VT323", monospace;
    font-size: 17px;
    letter-spacing: 3px;
    margin-top: 7px;
    text-align: center;
    max-width: 95%;
}

.start-button {
  font-family: "Press Start 2P", system-ui;
  height: 50px;
    width: 200px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    background-color: rgb(149, 202, 255);
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.timer-icon {
  position:relative;
  top: 4px;
 margin-left: 4px;
}